@{
    ViewBag.Title = "About Support For Dads";
}

<div class="container">
    <br />
    <br />
    <h1 class="display-3">@ViewBag.Title</h1>
    <h3>@ViewBag.Message</h3>

    <br /><br />
    <p class="lead">
        Dads there for other Dads when it matters. Making choices on your 
        own can be tough, but advice is there. With resources available 
        and volunteers there, making a connection is easy. We all watch 
        our kids grow up and see ourselves get older. The joys of having a 
        family is spending every moment with them.
        <br /><br />
        When you sign up on this website, you get support from us and other 
        dads like you. Whether you are a single parent, facing other type of 
        challenges, or maybe you are just wanting to connect. Making the step 
        meet other dads is a foot in the door to our community.
    </p>
    
    <img src="https://images.unsplash.com/photo-1560328055-e938bb2ed50a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" 
         class="img-responsive"
         alt="Alternate Text" />
</div>
